header {
  background-color: white;
  border-bottom: 10px black solid;
  padding: 10px;
  font-size: 20px;
}
a {
  color: black;
}
.centered {
  text-align: center;
}
body {
  background-color: lightgreen;
}
.container {
  background-color: white;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}
#startBtn {
  background-color: gray;
  text-align: center;
}

h2 h3 {
  padding: 20px;
}
button {
  background-color: lightgreen;
}
td {
  text-align: center;
}
